.Header {
    display: flex;
    /* .Header 클래스의 아이템들이 수직으로 중앙에 정렬 */
    align-items: center;
    padding: 20px 0px;
    border-bottom: 1px solid rgb(226, 226, 226)
}

.Header > div {
    display: flex;
}

.Header .header_center {
    width: 50%;
    font-size: 25px;
    /* 'justify-content: center' - 'display: flex'로 설정된 요소 안에서 자식들이 배치되는 위치를 가운데로 설정 */
    justify-content: center;
}

.Header .header_left {
    width: 25%;
    justify-content: flex-start;
}

.Header .header_right {
    width: 25%;
    justify-content: flex-end;
}